---
title: Managing User Permissions Using the Apps Manager
---

<strong><%= modified_date %></strong>

The Apps Manager uses role-based access control, with each role granting
permissions in either an organization or an application space.
A user can have one or more roles.
The combination of these roles defines the user’s overall permissions in the org
and within specific app spaces in that org.

An administrator can manage user roles in orgs and spaces using the Apps Manager.

To see which permissions each role grants, see [Organizations, Spaces, Roles, and Permissions](../concepts/roles.html).

## <a id='orgs-roles'></a>Managing Org Roles ##

Valid [org roles](../concepts/roles.html#org-roles) are <%=vars.org_roles %>.

To grant or revoke org roles, follow the steps below.

1. In the Apps Manager navigation on the left, the current org is
highlighted.
Click the drop-down menu to view other orgs belonging to the account.

    ![Other Orgs]( <%=vars.select_org %> )

1. Use the Apps Manager navigation to select an org.

1. Click the **Members** tab.

    ![Members]( <%=vars.org_members %> )

1. The **Members** panel displays all members of the org.
Select a checkbox to grant an org role to a user, or deselect a checkbox to
revoke a role from a user.

## <a id='space-roles'></a>Managing App Space Roles ##

Valid [app space roles](../concepts/roles.html#space-roles) are Space Manager,
Space Developer, and Space Auditor.

To grant or revoke app space roles, follow the steps below.

1. In the **Members** tab of an org, click the drop-down menu to view spaces in
the org.

    <%= image_tag("images/roles/select-space.png") %>

1. Use the drop-down menu to select a space.

1. The **Members** panel displays all members of the org.
Select a checkbox to grant an app space role to a user, or deselect a checkbox to revoke a role from a user.

    <%= image_tag("images/roles/space-members.png") %>
