---
title: Managing User Accounts and Permissions Using Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

<% unless vars.book_title == "Pivotal Web Services Documentation" %>
<!-- This ensures that the note below only appears in the PCF docs, not in the PWS docs.  -->

<p class='note'><strong>Note</strong>: The procedures described here are not compatible with using SAML or LDAP for user identity management. To create and manage user accounts in a SAML- or LDAP-enabled Cloud Foundry deployment, see <a href='../opsguide/external-user-management.html'>Adding Existing SAML or LDAP Users to a Pivotal Cloud Foundry Deployment</a>.</p>

<% end %>

The Apps Manager uses role-based access control, with each role granting
permissions in either an organization or an application space.
A user can have one or more roles.
The combination of these roles defines the user’s overall permissions in the org
and within specific app spaces in that org.

An administrator can manage user roles in orgs and spaces using the Apps Manager. To manage user accounts in a space, you must have Space Manager permissions in that space.

To see which permissions each role grants, see the [Organizations, Spaces, Roles, and Permissions](../concepts/roles.html) topic.

## <a id='orgs-roles'></a>Managing Org Roles ##

Valid [org roles](../concepts/roles.html#roles) are <%=vars.org_roles %>.

To grant or revoke org roles, follow the steps below.

1. In the Apps Manager navigation on the left, the current org is highlighted.
Click the drop-down menu to view other orgs belonging to the account.

    ![Other Orgs]( <%=vars.select_org %> )

1. Use the Apps Manager navigation to select an org.

1. Click the **Members** tab.

    ![Members]( <%=vars.org_members_multi %> )

1. The **Members** panel displays all members of the org.
Select a checkbox to grant an org role to a user, or deselect a checkbox to
revoke a role from a user.

## <a id='space-roles'></a>Managing App Space Roles ##

Valid [app space roles](../concepts/roles.html#roles) are Space Manager,
Space Developer, and Space Auditor.

To grant or revoke app space roles, follow the steps below.

1. In the **Members** tab of an org, click the drop-down menu to view spaces in
the org.

    <%= image_tag("images/select-space.png") %>

1. Use the drop-down menu to select a space.

1. The **Members** panel displays all members of the org.
Select a checkbox to grant an app space role to a user, or deselect a checkbox to revoke a role from a user.

    <%= image_tag("images/space-members.png") %>
	* **Space Managers** can invite and manage users and enable features for a given space. Assign this role to managers or other users who need to administer the account.
	* **Space Developers** can create, delete, and manage applications and services, and have full access to all usage reports and logs. Space Developers can also edit applications, including the number of instances and memory footprint. Assign this role to app developers or other users who need to interact with applications and services.
	* **Space Auditors** have view-only access to all space information, settings, reports, and logs. Assign this role to users who need to view but not edit the application space.


## <a id='invite'></a>Inviting New Users ##

1. On the Org dashboard, click the **Members** tab.

	![Members]( <%=vars.org_members %> )

1. Click **Invite New Members**. The **Invite New Team Member(s)** form appears.

	![Invite]( <%=vars.invite_members %> )

1. In the **Add Email Addresses** text field, enter the email addresses of the users that you want to invite. Enter multiple email addresses as a comma-delimited list.

1. The **Assign Org Roles** and **Assign Space Roles** tables list the current org and available spaces with checkboxes corresponding to each possible user role.
Select the checkboxes that correspond to the permissions that you want to grant to the invited users.

1. Click **Send Invite**.
The Apps Manager sends an email containing an invitation link to each
email address that you specified.

## <a id='change_perm'></a>Changing User Permissions ##

You can also change user permissions for existing users on the account.
User permissions are handled on a per-space basis, so you must edit them for
each user and for each space that you want to change.

1. On the Org dashboard, click the **Members** tab.

	![Members]( <%=vars.org_members %> )

1. Edit the permissions assigned to each user by checking or unchecking the
checkboxes under each user role.
The Apps Manager saves your changes automatically.


### <a id='removing'></a>Removing a User ###

To remove a user from a space, revoke that user’s permissions for
all user roles in that space.
The user remains visible in the list unless you remove the user from the org.

