---
title: Managing User Permissions Using the Developer Console
---

The Developer Console uses role-based access control, with each role granting
permissions in either an organization or an application space.
A user can have one or more roles.
The combination of these roles defines the user’s overall permissions in the org
and within specific app spaces in that org.

Using the Developer Console, an administrator can manage user roles in orgs and
spaces.

For more information, see [Organizations, Spaces, Roles, and Permissions](../concepts/roles.html).

## <a id='orgs-roles'></a>Organizations and Org Roles ##

Valid [org roles](../concepts/roles.html#org-roles) are <%=vars.org_roles %>.

1. In the Developer Console navigation on the left, the current org is
highlighted.
Click the drop-down menu to view other orgs belonging to the account.

    ![Alt text]( <%=vars.select_org %> )

1. Use the Developer Console navigation to select an org.

1. Click the **Members** tab.

    ![Alt text]( <%=vars.org_members %> )

1. The **Members** panel displays all members of the org, with checkboxes
selected corresponding to their current org roles.
Select a checkbox to give an org role to a user, or deselect a checkbox to
remove a role from a user.

## <a id='orgs-roles'></a>App Spaces and App Space Roles ##

Valid [app space roles](../concepts/roles.html#space-roles) are Space Manager,
Space Developer, and Space Auditor.

1. In the **Members** tab of an org, click the drop-down menu to view spaces in
the org.

    <%= image_tag("images/roles/select-space.png") %>

1. Use the drop-down menu to select a space.

1. The **Members** panel displays all members of the org, with checkboxes
selected corresponding to their current app space roles.
Select a checkbox to give an app space role to a user, or deselect a checkbox to
remove a role from a user.

    <%= image_tag("images/roles/space-members.png") %>
