---
title: Managing Orgs and Spaces Using Apps Manager
owner: Apps Manager
---

This topic discusses how to view and manage orgs and spaces in Apps Manager.

<p class="note"><strong>Note:</strong> To manage a space, you must have Space Manager permissions in that space.</p>

To do the following, you must first log in to Apps Manager with an account that has adequate permissions. For more information, see [About Permissions](dev-console.html#permissions).

You can manage orgs and spaces across multiple foundations. For more information, see [Configuring Multi-Foundation Support in Apps Manager](../opsguide/configure-multi-foundation.html).


## <a id='view-space'></a> Manage an Org

The following sections describe how to manage your orgs using the org management interface in Apps Manager. You can navigate to your org from the **Home** page or through the global search.

For details about each tab in the org page, see the following sections.

### <a id="spaces"></a> Spaces

In the **Spaces** tab, you can do the following:

- See the following information for each space:
   - Name
   - Number of apps
   - Number of apps in running, stopped, and crashed states
   - Number of services
   - Memory quota usage

- Create a new space

### <a id="domains"></a> Domains

In the **Domains** tab, you can do the following:

- See each **Domain** in your org.

- See the **Type** associated with each domain. A type is either **Globally Shared** or **Privately Shared**. For more information about globally and locally shared domains, see [Shared Domains](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/routes-domains.html#shared-domains) and [Private Domains](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/routes-domains.html#private-domains).

- Delete a domain by clicking the vertical three-dot icon and selecting **Delete**. You must have permission to manage the domain to delete it.

- Create a new private domain by clicking **Add a Domain**. You must have Org Manager permissions to create a private domain.
  <p class="note"><strong>Note:</strong> To create globally shared domains, you must have Admin permissions and use the Cloud Foundry Command Line Interface (cf CLI). For more information, see [Create a Shared Domain](https://docs.pivotal.io/pivotalcf/devguide/deploy-apps/routes-domains.html#create-a-shared-domain).</p>

See the following screenshot for an example **Domains** interface with Org Manager permissions:

<%= image_tag("apps-manager-domains-tab.png", :alt => "The screenshot shows the
'Domains' tab selected. At the top of the tab content is an 'Add a Domain' button. Below is a table with
three example domains listed: 'apps.internal' which is a 'Global' type, 'apps.test.cf-app.com,'
which is also a 'Global' type, and 'dev.private,' which is a 'Private' type. Only the domain with the 'Private'
type has the horizontal three-dot menu, indicating that the domain can be deleted.") %>

### <a id="members"></a> Members

In the **Members** tab, you can do the following:

- See member email addresses
- Toggle member permissions
- Remove member from org
- Invite a new member

### <a id="org-settings"></a> Settings

In the **Settings** tab, you can do the following:

- Change the org name
- See spaces assigned to isolation segments. For more information, see [Isolation Segments](../concepts/security.html#isolation-segments).
- Delete the org. You must have admin permissions to delete an org. 

### <a id="metadata-org"></a> Add Metadata

You can add metadata, including labels and annotations, to orgs using Apps Manager. 

<% if vars.product_name.include? "CF" %>

For more information about adding metadata to objects in PAS, see [Using Metadata](../adminguide/metadata.html).

<% else %>

For more information about adding metadata to objects in PAS, see [Using Metadata](https://docs.pivotal.io/pivotalcf/adminguide/metadata.html).

<% end %>

To add labels or annotations to an org using Apps Manager, do the following:

1. Click the **Settings** tab of the desired org and navigate to the **Metadata** section.
	![The Metadata section of the Apps Manager Settings page includes  fields for labels and annotations. Each field includes two text boxes for entering name and value pairs, a toggle labeled "Enter JSON" that allows you to enter metadata in JSON format, and  aplus-sign button that allows you to add more name and value pairs. There are also "Cancel" and "Update Metadata" buttons to save or abandon your changes.](metadata.png)

1. For **Labels**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the label in JSON.

1. For **Annotations**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the annotation in JSON.

1. To add more labels or annotations, click **+** next to the **Labels** or **Annotations** field.

1. Click **Update Metadata**.


## <a id='manage-space'></a> Manage a Space

The space page displays the apps, service instances, and routes associated with the selected space.

<%= image_tag('space-apps-view.png') %>

### <a id="apps-tab"></a> Apps

The **Apps** tab shows the **Status**, the **Name**, the number of  **Instances**, the amount of **Memory** available, the time since the **Last Push**, and the **Route** for each app. 

<%= image_tag("apps-in-space.png") %>

### <a id="services-tab"></a> Services

The **Services** list shows the **Service**, the **Name**, the number of  **Bound Apps**, and the **Plan** for each service instance. If you want to add a service to your space, click **Add Service**. For more information about configuring services, see the [Services Overview](../devguide/services/) topic.

<%= image_tag("services-space.png") %>

### <a id="routes-tab"></a> Routes

From the **Routes** tab, you can view and delete routes associated with your space. For each **Route**, the tab shows **Route Service** and **Bound Apps**. Refer to the [Route Services](../services/route-services.html) topic to learn more about route services.

<%= image_tag("routes-tab.png") %>

### <a id="settings-tab"></a> Settings

From the **Settings** tab, you can do the following:

* Modify the space name by entering a new name and clicking **Update**. 
* View the Application Security Groups (ASGs) associated with the space in the **Security Groups** section.
* View the space's isolation segment assignment in the **Isolation Segment Assignment** section. For more information, see [Isolation Segments](../concepts/security.html#isolation-segments).
* Add metadata to the space. See [Add Metadata](#metadata).
* Delete the space by clicking **Delete Space**.

<%= image_tag("rename-space.png") %>

### <a id="metadata-space"></a> Add Metadata

You can add metadata, including labels and annotations spaces using Apps Manager. 

<% if vars.product_name.include? "CF" %>

For more information about adding metadata to objects in PAS, see [Using Metadata](../adminguide/metadata.html).

<% else %>

For more information about adding metadata to objects in PAS, see [Using Metadata](https://docs.pivotal.io/pivotalcf/adminguide/metadata.html).

<% end %>

To add labels or annotations to a space using Apps Manager, do the following:

1. Click the **Settings** tab of the desired space and navigate to the **Metadata** section.

1. For **Labels**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the label in JSON.

1. For **Annotations**, complete the **Name** and **Value** fields. Or, select **Enter JSON** to enter the annotation in JSON.

1. To add more labels or annotations, click **+** next to the **Labels** or **Annotations** field.

1. Click **Update Metadata**.
