---
title: Manage Service Keys Using Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

This topic discusses how to view and manage service keys associated with apps using Apps Manager.

To perform the following steps, log in to Apps Manager with an account that has adequate permissions. See the [Understanding Permissions](dev-console.html#permissions) topic for more information.

## <a id='create-key'></a>Create a Service Key

<%= image_tag("keys-create.png") %>

<%= image_tag("keys-create-adv.png") %>

## <a id='list-keys'></a>List Service Keys

<%= image_tag("keys-list.png") %>

## <a id='get-creds'></a>Get Credentials for a Service Key

<%= image_tag("keys-creds.png") %>

## <a id='delete-key'></a>Delete Service Key

<%= image_tag("keys-delete.png") %>
