---
title: Managing Apps and Service Instances Using Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

This topic discusses how to view and manage apps and service instances associated with a space using Apps Manager.

To perform the following steps, log in to Apps Manager with an account that has adequate permissions. See the [Understanding Permissions](dev-console.html#permissions) topic for more information.

##<a id='manage-app'></a>Manage an App

On the space page, click the app you want to manage. This directs you to the app page, where you can scale apps, bind apps to services, manage environment variables and routes, view logs and usage information, start and stop apps, and delete apps.

<%= image_tag("app-page.png") %>

###<a id="scale"></a> Scale an App

1. Under **Scaling**, adjust the number of **Instances**, the **Memory Limit**, and the **Disk Limit** as desired.
1. Click **Scale App**. 

###<a id="bind-services"></a> Bind or Unbind a Service

1. Click **Services**.
1. To bind your app to a service, click **Bind a Service**.
	<%= image_tag("bound-services.png") %>
1. To bind your app to an an existing service instance, choose the service instance from the dropdown menu, and click **Bind**. To bind your app to a new service instance, click **Go to the Marketplace** to choose a service from the Marketplace.
1. To unbind your app from a service instance, locate the service instance in the **Bound Services** list and click the three-dot icon on the far right. Select **Unbind** from the dropdown menu.

###<a id="env-var"></a>View or Add Environment Variables

1. Click **Env Variables**.
	<%= image_tag("env-vars.png") %>
1. The page displays both the **User Provided Environment Variables** and **System Provided Environment Variables** environment variables associated with the app.
1. To add a user-provided environment variable, enter the **Name** and **Value** and click **Save**.

<p class="note"><strong>Note</strong>: Changes to environment variables, as well as to service bindings and unbindings, require restarting the app to take effect. You can restart the app from the Apps Manager or with <code>cf restage</code> from the Cloud Foundry Command Line Interface (cf CLI).</p>

###<a id="routes"></a>Map or Unmap Routes

1. Click **Routes**.
1. The page displays the routes associated with the app. To add a new route, click **Map a Route**.
	<%= image_tag("routes.png") %>
1. Enter the route and click **Map**.
1. To unmap a route, locate the route from the list and click the red `x`. Click **Unmap** in the pop-up to confirm.

###<a id="logs"></a>View Logs

1. Click **Logs** to view the logs for the app.
	<%= image_tag("logs.png") %>
1. Click the play button to view a live version of the logs.

###<a id="start-stop"></a>Start or Stop an App

1. To stop an app, click the stop button next to the name of the app. Click **Stop** in the pop-up to confirm.
1. To restart a stopped app, click the play button next to the name of the app.
1. To restart a running app, click the restart button next to the name of the app. Click **Restart** in the pop-up to confirm.

###<a id="rename-app"></a>Rename an App

1. Click **Settings**.
1. Edit the **Name**.
1. Click **Save changes**.

###<a id="delete-app"></a>Delete an App

1. Click **Settings**.
1. Click **Delete App**.
1. Click **Delete App** in the pop-up to confirm.

##<a id='manage-service'></a>Manage a Service Instance

On the space page, click **Services**, then click the service instance you want to manage. This directs you to the service instance page, where you can bind or unbind apps, view or change your service plan, and rename or delete your service instance.

###<a id='bind-app'></a>Bind or Unbind an App

<%= image_tag("services-binding.png") %>

1. Click **Edit Bindings**.

1. Select the checkbox for the apps you want to bind to or unbind from your service instance.

1. Click **Save**.

###<a id='view-plan'></a>View or Change Your Service Plan

1. Click **Plan**.

    <%= image_tag("services-plan.png") %>

1. Review your current plan information. 

1. To change your plan, select a new plan from the list and click **Select this plan**.

<p class="note"><strong>Note</strong>: Not all services support upgrading. If your service does not support upgrading, the service plan page only displays the selected plan.</p>

###<a id='rename-service'></a>Rename or Delete Your Service Instance

1. Click **Settings**.

    <%= image_tag("services-settings.png") %>

1. To change the service instance name, enter your new name and click **Save changes**.

1. To delete the service instance, click **Delete Service Instance**.


