---
title: Managing Orgs and Spaces Using the Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

This topic discusses how to view and manage orgs and spaces in Apps Manager.

<p class="note"><strong>Note</strong>: To manage a space in an org, you must have org manager or space manager permissions in that space. Org managers have space manager permissions by default and can manage user accounts in all spaces associated with the org.</p>

To perform the following steps, you must log in to Apps Manager. <%= vars.console_3 %>

## <a id='view-space'></a>Manage an Org

The org page displays the spaces associated with the selected org. The left navigation of Apps Manager shows the current org. 

![Org Console]( <%= vars.console_org %> )

To view spaces in a different org, use the drop-down menu to change the org. 

![Select Org]( <%= vars.select_org %> )

To view the page for a particular space, click the space on the org page or on the left navigation. To create a new space, click **Add a Space** at the bottom of the org page.

##<a id='manage-space'></a>Manage a Space

The space page displays the apps and service instances associated with the selected space.

![Select Org]( <%= vars.services_view %> )

The **Apps** tab shows the **Name**, the number of **Instances**, the amount of **Memory** available, the time since the **Last Push**, and the **Route** for each app. 

 <%= image_tag("apps-in-space.png") %>

The **Services** list shows the **Service**, the **Name**, the number of **Bound Apps**, and the **Plan** for each service instance. If you want to add a service to your space, click **Add Service**. For more information on configuring services, see the [Services Overview](../devguide/services/) topic.

 <%= image_tag("services-space.png") %>

To delete or rename a space, click **Settings** on the space page.

<%= image_tag("rename-space.png") %>

To change the space name, enter your new name and click **Save changes**. To delete the space, click **Delete Space**.