---
title: Managing Orgs and Spaces Using Apps Manager
owner: Apps Manager
---

<strong><%= modified_date %></strong>

This topic discusses how to view and manage orgs and spaces in Apps Manager.

<p class="note"><strong>Note</strong>: To manage a space, you must have Space Manager permissions in that space.</p>

To perform the following steps, you must first log in to Apps Manager with an 
account that has adequate permissions. See the [Understanding Permissions](dev-console.html#permissions) topic for more information.  

## <a id='view-space'></a>Manage an Org

The org page displays the spaces associated with the selected org. The left 
navigation of Apps Manager shows the current org. 

![Org Console]( <%= vars.console_org %> )

To view spaces in a different org, use the drop-down menu to change the org. 

![Select Org]( <%= vars.select_org %> )

To view the page for a particular space, click the space on the org page or on 
the left navigation. To create a new space, click **Add a Space** at the bottom 
of the org page.

##<a id='manage-space'></a>Manage a Space

The space page displays the apps, service instances, and routes associated with 
the selected space.

<%= image_tag('space-apps-view.png') %>

The **Apps** tab shows the **Status**, the **Name**, the number of 
**Instances**, the amount of **Memory** available, the time since the **Last Push**, and the **Route** for each app. 

<%= image_tag("apps-in-space.png") %>

The **Services** list shows the **Service**, the **Name**, the number of 
**Bound Apps**, and the **Plan** for each service instance. If you want to add 
a service to your space, click **Add Service**. For more information about 
configuring services, see the [Services Overview](../devguide/services/) topic.

<%= image_tag("services-space.png") %>

From the **Routes** tab, you can view and delete routes associated with your space. For each **Route**, the tab lists **Route Service** and **Bound Apps**. Refer to the [Route Services](../services/route-services.html) topic to learn more about route services.

<%= image_tag("routes-tab.png") %>

From the **Settings** tab, you can do the following:

* Modify the space name by entering a new name and clicking **Update**. 
* View the Application Security Groups (ASGs) associated with the space in the 
**Security Groups** section.
* Delete the space by clicking **Delete Space**.

<%= image_tag("rename-space.png") %>