---
title: Managing Spaces Using the Developer Console
---

Browse to `console.<your-app-domain.com>` and log in to view the Developer Console.

**Note**: The workflows described in this document require org manager or space manager privileges.

 <%= image_tag("manage_spaces/console.png") %>

## <a id='orgs'></a>Orgs ##

The current org is highlighted in the Developer Console navigation. The drop-down menu on the right displays other orgs. Use this menu to switch between them.

 <%= image_tag("manage_spaces/select-org.png") %>

## <a id='app_spaces'></a>Spaces ##

The Developer Console navigation also shows the spaces in the current org. The current space is also highlighted. 

 <%= image_tag("manage_spaces/app-spaces.png") %>

 * **Add a Space**: Click the **Add App Space** button.
 * **Switch Space**: Select a different space on the Org dashboard or from the navigation.

## <a id='settings_view'></a>Edit Space ##

From the Space page, click the Edit Space link. 
 App Space Settings view.

 <%= image_tag("manage_spaces/space-settings.png") %>

 * **Delete a Space**: Click the **Delete Space** button in the top right corner.
 * **Rename a Space**: Change the text in the **Name** field, then click **Save**.

## <a id='apps'></a>Apps List ##

The Apps List displays information about the **Status**, **Name**, **Route**, number of **Instances**, and amount of **Memory** for each app in the current space.

 <%= image_tag("manage_spaces/apps-in-space.png") %>

## <a id='services'></a>Services View ##

The Services view lists services bound to apps in the current space.

 <%= image_tag("manage_spaces/services-space.png") %>

 * **Add a service**: Click the **Add Service** button on the right side of the Services view. Clicking the **Add Service** button takes you to the Marketplace.