---
title: Getting Started with the Developer Console
---

The Developer Console is a tool to help manage organizations, users, applications, and application spaces. Complete the following steps to log in and invite users to the Developer Console.

1. Browse to `console.<your-app-domain.com>`. Refer to **Pivotal Elastic Runtime > Settings > Cloud Controller** to locate your app domain.

1. Login to the Developer Console using the UAA Administrator User credentials. Refer to **Pivotal Elastic Runtime > Credentials** for this login information.

    <%= image_tag("uaa-login.png") %>

1. The Developer Console displays information for the system org.

    <%= image_tag("console-org.png") %>

1. From the organization drop down menu, select **Create New Organization**.

    <%= image_tag("create-org.png") %>

1. Name your org and click **Create**.

    <%= image_tag("name-org.png") %>

1. In the Team view, click **Invite**.

    <%= image_tag("images/manage_accounts/space-users.png") %>

1. Invite a new user to join your org. If your SMTP server is configured correctly, the user will receive a confirmation email. Refer to the [Pivotal CF Getting Started Guide](../getstarted/index.html) to determine whether your SMTP server is configured correctly.

    **Note**: When you invite a user, the console generates an invitation link, which is available on the Teams page for users with the Org Manager role. When SMTP is unavailable, you can include this link in an email to send an invitation manually.

## <a id='known-issues'></a> Known Issues and Important Tips ##

This version of the Developer Console includes the following known issues:

 * You can remove users from organizations, but not spaces. Instead, revoke the user's permissions in a space to effectively remove the user.
 * Console pages are not Ajax-enabled and sometimes show the wrong application status as a result. Refresh the page to see the latest information.
 * Changes to environment variables, as well as service bindings and unbindings, require a `cf push` to update the application.
 * To resend an invitation, re-invite the user.
